body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: white;
    /* position: fixed; */
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: grey;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #e1e1fd;
    color: blue !important;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #e1e1fd;
    color: blue !important;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .card{
      border: none;
      border-radius: 5%;
  }
  .card-status .btn {
      background-color: #fba823;
      font-weight: bold;
      border: none;
  }
  .customer-issues-section{
      background-color: rgba(242,241,246,255);
  }
  .main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}